.resume {
    line-height: 1.5;

    &__wrap {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 50px;
    }

    &__headline {
        margin-bottom: 15px;
    }

    &__text {
        font-size: rem(18px);
    }

    &__block {
        box-shadow: var(--shadow-pressed);
        border-radius: var(--border-radius);
        padding: 30px;
    }

    &__info-list {
        display: grid;
        grid-gap: 15px;
    }

    &__info-list-field {
        display: inline-block;
    }

    &__main,
    &__info {
        display: grid;
        align-items: start;
        grid-gap: 20px;
    }

    &__photo {
        height: 300px;
        width: 300px;
        padding: 30px;
        box-shadow: var(--shadow-pressed);
        border-radius: 50%;
        display: block;
        margin-bottom: 20px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
    }
}